@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

$primary: #c23616;
$secondary: #e84118;

$white: #ffffff;
$black: #202020;

$gray0: #fafafa;
$gray1: #dcdde1;
$gray2: #718093;
$gray3: #2c3e50;
$gray4: #222222;

$borderRadius: 8px;
$mobile-breakpoint: 576px;

* {
    color: $gray3;
    outline: none;
}

body, html {
    padding: 0;
    margin: 0;
}

.h1 {
    color: $gray4;
    font-weight: lighter;
    text-transform: uppercase;
    margin-top: 0;

    strong {
        font-weight: bold;
    }
}

.btn {
    width: 100%;
    font-size: 16px;
    padding: 8px;
    background-color: $secondary;
    border: 0;
    color: white;
    border-radius: $borderRadius;
    cursor: pointer;

    &:hover {
        background-color: $primary;
    }
}

.table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    td {
        padding: 5px;
    }

    thead {
        background-color: $gray2;
        td {
            color: white;
        }
    }

    tbody {
        tr:nth-child(odd) {
            background-color: $gray1;
        }
    }
}

.inner-container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 15px;
    margin-top: 60px;
}

.grid {
    display: grid;
    gap: 15px; 
    grid-template-columns: 1fr 1fr 1fr
                           1fr 1fr 1fr
                           1fr 1fr 1fr
                           1fr 1fr 1fr;

    @for $i from 1 through 13 {
        .col-#{$i} {
            grid-column: span $i;
        }

    }
}

.container {
    max-width: 1024px;
    width: 100%;
}

.toast {
    background: red;
    padding: 10px 15px;
    position: fixed;
    top: 60px;
    right: 15px;
    width: 300px;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    transition: all 0.5s ease-in-out;
    // animation: showSmooth linear .3s;
    // animation-iteration-count: 1;

    h2 {
        font-size: 16px;
        margin-top: 0;
        color: #ecf0f1;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            font-size: 14px;
            margin-top: 5px;
            color: #ecf0f1;
        }
    }

}

// @keyframes showSmooth {
//     0% {
//       opacity:0;
//     }
//     100% {
//       opacity:1;
//     }
// }

.form-group {
    label {
        display: block;
        font-weight: 400;
        margin-bottom: 10px;
    }

    input, textarea, select {
        border: solid 1px $gray2;
        font-size: 16px;
        padding: 5px;
        border-radius: $borderRadius;

        &:focus {
            outline: none !important;
            border-color: $secondary;
        }
    }

    select {
        width: 100%;
    }

    input, textarea {
        width: -webkit-calc(100% - 10px);
        width:    -moz-calc(100% - 10px);
        width:      -o-calc(100% - 10px);
        width:         calc(100% - 10px);
    }
}

.shadow, .shadow-hover:hover {
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}

.no-select {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.mb-1 {
    margin-bottom: 30px;
}

.text-center {
    text-align: center;
}

.lg-only {
    display: block !important;
}

.sm-only {
    display: none !important;
}

.bg-recipe {
    background-image: url('~@/assets/img/bg-recipe.jpg');
    background-size: cover;
}

.bg-unit {
    background-image: url('~@/assets/img/bg-unit.jpg');
    background-size: cover;
}

.bg-ingredient {
    background-image: url('~@/assets/img/bg-ingredient.jpg');
    background-size: cover;
}

@media (max-width: #{$mobile-breakpoint}) {
    .grid {
        grid-template-columns: 1fr;

        @for $i from 1 through 13 {
            .col-#{$i} {
                grid-column: 1;
            }
        }
    }

    .lg-only {
        display: none !important;
    }
    
    .sm-only {
        display: flex !important;
    }
}